@import "tailwindcss";

@theme {
  --color-dcc-dark: #0f172a;
  --color-dcc-card: #1e293b;
  --color-dcc-system: #f97316;

  --color-dcc-gold: #eab308;
  --color-dcc-danger: #ef4444;
}

/* Force dark mode to be class-based */
@variant dark (&:where(.dark, .dark *));

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
